h1{
    font-size: 50;
    font-family: 'Roboto', sans-serif;
}
.c1{
    color: yellow;
}
.c234{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.c234 img{


    width: 100%;
}